

.page-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
  background-color: #f9f9f9;
}

.about-section {
  margin-bottom: 30px;
  text-align: center;
}

.about-section h2 {
  margin-bottom: 20px;
  font-size: 32px;
  color: #333 !important;
}

.paragraph-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


.paragraph-text {
  font-size: 18px;
  line-height: 1.6;
  color: #555 !important;
  padding-bottom: 20px;
}

.paragraph-text span {
  font-weight: bold;
  color: #007bff;
}

.map-container {
  margin-bottom: 30px;
}

.map-container h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

.marker {
  margin-top: -20px;
  height: 20px;
  width: 20px;
  background-color: #007bff;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.marker::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
