.hero-container {
    position: relative;
    overflow: hidden;
  }
  

  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .hero-caption {
    font-size: 3.0rem;
    margin-bottom: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .hero-paragraph {
    padding-left: 25px;
    font-size: 0.8rem;
    max-width: 600px;
    color: black;
    margin: 0 auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .hero-button button{
    background-color: blue;
    color: white;
    margin-top: 35px;
    padding: 7px 12px;
    border-radius: 5px;
  }
  .hero-button button:hover{
    background-color: black;
  }

.hero-container {
    position: relative;
    overflow: hidden;
  }

  
  .hero-image {
    width: 100%;
    height: 300px;
    display: block;
  }
  
  .text-container {
    position: absolute;
    top: 20%;
    transform: translate(-50%, -50%);
    color: black; /* Adjust the text color as needed */
    animation: slideIn 1s ease-in-out; /* Animation for sliding in */
    animation-fill-mode: forwards;
    opacity: 0;
    padding-left: 30px;
  }
  
  .links {
    display: flex;
    align-items: center;
  }

  .v-link {
    margin-left: 25px;
    text-decoration: none;
    color: #7c7979;
    padding: 15px 10px;
    font-size: smaller;
  }

  .v-link:hover {
    color: black;
    border-radius: 5px;
  }

  .search-container {
    
    margin-bottom: 20px; 
  }
  
  .search-container input {
    padding: 10px;
    width: 85%;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }