.navbar {
    background-color: #ffd700; /* Variant of yellow */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .Navlinks {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: #555; /* Hover color */
  }
  