.navbar {
    background-color: rgba(255, 215, 0, 0);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 90%;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333;
  }
  
  .Navlinks {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Added transition for background-color */
    padding: 10px 45px; /* Added padding for better spacing */
  }
  
  .nav-link:hover {
    color: rgb(168, 161, 161);
    border-radius: 5px;
  }
  